.postedon {
    font-style: italic;
    opacity: 50%;
}

#mainNav .navbar-toggler{
    text-transform: initial !important;
    font-size: 1.0em;
}

.navbar-brand {
    font-size: 1.5em;
}

.nav-link{
    text-transform: initial !important;
    font-size: 1.15em !important;
}

.logo {
    background-image: url("/img/icons8-java-black.svg");
}

@media only screen and (min-width: 992px) {
    .logo {
        background-image: url("/img/icons8-java-white.svg");
    }
}

@media only screen and (min-width: 768px) {
    header.masthead .page-heading,
    header.masthead .post-heading,
    header.masthead .site-heading {
        padding: 100px 0 50px 0;
    }
}
.post-title {
    font-size: 22px !important;
}

.post-subtitle {
    font-size: 19px !important;
}

.code-snapshot {
    margin: 10px 10px 10px 10px;
    float:none;
}

.code-snapshot85 {
    width: 85%;
    height: 85%;
}

.code-snapshot75 {
    width: 75%;
    height: 75%;
}

.code-snapshot50 {
    width: 50%;
    height: 50%;
}

.comment-th {
    width: 60%;
}

.alg-th {
    width: 20%;
}

.halfheight {
    height: 300px;
    overflow: auto;
}

.ul-nob {
    list-style-type: none;
}